# Project General Config
PROJECT_NAME="ATR Foundation"
API_V1_STR="/api"

# JWT Authentication Security (Generate a secure secret key in production)
SECRET_KEY="supersecretkeychangeinproduction1234567890"
ACCESS_TOKEN_EXPIRE_MINUTES=11520 # 8 days

# PostgreSQL Database Configuration
# Render PostgreSQL credentials or Local PostgreSQL configurations
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=atr_foundation

# Google OAuth 2.0 Credentials (for authentication implementation)
GOOGLE_CLIENT_ID=499429803705-tblude90t47ct4neheccvg15769k6pfr.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
